@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&family=Unica+One&display=swap');
:root{
	--size: 15px
}p .bi{
	color:hsla(240, 100%, 50%, 1);
}
input{
	text-align: center;
}
body{
	background-color: rgb(25, 45, 54);
	color: white;
	text-align: center;
	
}input[name='gridVal']{
	width: 40px;
	border: none;
	background-color:hsla(150, 100%, 50%, 0.5) ;
	text-align: center;
	color:white;
}gui{
	margin-top:60px;
	display: block;
	left:50%;
	transform: translate(-50%);
	position:absolute;
}
#workplace{
	display: block;
	top:250px;
	position:absolute;
	background-color: white;
}
tb{
	margin: 0px;
	left:30%;
	transform: translateX(-50%);
	display: block;
	position: absolute;
	border:0.5px solid white;
	width: var(--size);
	height: var(--size);
	background-color: hsla(0, 100%, 100%, 0.5);
}
.info{
	position: absolute;
	font-size: 50px;
	z-index: 99;

}.controls{
	margin: 0;
	width: 99%;
	height: 99%;
	text-align: center;
	background-color: hsla(50, 100%, 50%, 0.5);
	display: none;
	position: absolute;
	z-index: 98;

}.controls a{
	position: absolute;
	display: block;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
i:hover ~.controls{
	display: block;
	transition-duration: 2s;
}
