@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
*{
    
    border-spacing:0;
}
body {
    margin: 0;
    background-color: #333;
    color: #fff;
}
header{
    display: flex;
    margin:20px;
    position: relative;
    display: flex; 
    width: 1fr;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
section{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}
.info{
    background-color: hsla(216, 80%, 52%, 0.3);
    height: 400px;
    margin: 25px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
}

.more{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 15px;
    margin: 0 25px;
    background-color: hsla(216, 80%, 52%, 0.3);
    grid-area: 2/1/2/4;
}
footer{
    position: relative;
    display: flex;
    bottom: 0;
    height: 75px;
    width: 1fr;
}.ball{
    border-radius: 15px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: hsla(10,70%,50%,0.9);

}
    